header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    
}
body{
    margin: 0;
    scroll-behavior: smooth;
}
header .left{
    background-color: white;
    display: flex;
    align-items: center;
}
header .right{
    background-color: white;
    display: flex;
    align-items: center;
}
header .left img{
    margin-right: 20px;
}
header .right p{
    margin-right: 30px;
}
#myy{
    color: rgb(151, 147, 147);
}
#byy{
    color: white;
    background-color: rgb(4, 4, 104);
    padding: 9px;
    border-radius: 20px;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main div {
    margin: 15px;
}
.lastes{
    color:black;
    margin: 7px;
}
main div button{
    margin: 13px;
    padding: 15px;
    border:2px solid blue;
    color: blue;
    border-radius: 20px;
}
main div button:hover{
    background-color: aqua;
}
main p{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
 .outer{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    }
.outer .image{
    width: 30%;
    margin: 5px;
    box-shadow: 0 5px 20px 0 blue;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
}    
.outer .image img{
    width: 100%;
}
.outer .image .content{
    padding: 9px;
}
.outer .image .content span{
    padding: 5px;
    color:aqua
}

.footer{
    background-color: rgb(26, 26, 63);
    padding: 60px 0;
}
ul{
    list-style: none;
}
.contain{
    max-width: 1170px;
    margin: auto;
}
.footer-col{
    width:20%;
    padding: 0 15px;
}
h3{
    padding-top: 9px;
    padding-bottom: 9px;
    color: grey;
}
.footer-col ul li:hover{
    background-color: black;
}
.footer-col ul li{
    padding: 5px;
    color:white
}
.row{
    display: flex;
    flex-wrap: wrap;
}













